{% extends 'base.html' %}
{% block title %}edit{% endblock %}

{% block content %}

<div class='app block'>

    <h2 class='subtitle'>{{ app.title }} </h2>

    <p>{{ app.body }}</p>
    <small>Updated at {{ app.date_added }}</small>
</div>

<form method="post" action="{% url 'home' %}">
    {% csrf_token %}
    <input type="hidden" name="id" value="{{ app.id }}">
    <input type="hidden" name="type" value="app">

    <input type="text" name="edit_title" >
    <button type="submit" class="btn btn-default">Update title</button>
    <button type="button" onclick="window.location.href='{% url 'home' %}'">Cancel</button>
    <br>
    <input type="text" name="edit_body" >
    <button type="submit" class="btn btn-default">Update body</button>
    <button type="button" onclick="window.location.href='{% url 'home' %}'">Cancel</button>
</form>


{% endblock %}
