<!-- templates/home.html -->
{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}

    <h2 style="font-size: 26px"> Games 
        {% if user.is_publisher %} 
        <a href="add_game" <i>[add]</i></a>{% endif %}
    </h2>

    <hr/>
    {% for game in games %}
        <div class='post block'>
            <h3 style="font-size: 22px">{{ game.title }} </h3>
                {% if user.is_publisher %} 
                <a href="game/{{ game.get_id }}" <i>[edit]</i></a>
                {% endif %}

                {% if user.is_user %}
                <a href="https://{{ game.body }}" <i>[download]</i></a>{% endif %}
                
            <small>Posted at {{ game.date_added }}</small>
        </div>
    {% endfor %}

    
    {% if user.is_authenticated %}
    <h2 style="font-size: 26px"> Apps 
        {% if user.is_publisher %} 
        <a href="add_app" <i>[add]</i></a>{% endif %}
    </h2>

    <hr/>
    {% for app in apps %}
        <div class='post block'>
            <h3 style="font-size: 22px">{{ app.title }} </h3>
                {% if user.is_publisher %} 
                <a href="app/{{ app.get_id }}" <i>[edit]</i></a>
                {% endif %}

                {% if user.is_user %}
                <a href="https://{{ app.body }}" <i>[download]</i></a></h3>{% endif %}

            <small>Posted at {{ app.date_added }}</small>
        </div>
    {% endfor %}
    {% else %}
    <hr/>
    Login in order to view available Apps
    {% endif %}

{% endblock %}
